*.pyc
*.save
*.old
*~
*.swp
*.log
*.out
bin
buildout
eggs
develop-eggs
develop-src
*.egg-info
*.egg
.installed.cfg
parts
.project
.settings/
dist
example.db
assets
media
xapian.index
local_settings.py
db_settings.py
etc
run
log
instance/settings.py
instance/db_settings.py
.site.cfg
.local.cfg
.tox
__pycache__
.coverage
